body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

.container {
  max-width: 800px;
  background-color: #fff;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h1, h2 {
  color: #333;
}

a {
  color: #0066cc;
  text-decoration: none;
}